<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>

  <nav>
    <!-- <a routerLink="/landing">Landing</a>
    <a routerLink="/searchpage">search</a> -->
    <a md-button
         class="nav-link"
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive="active">
        {{link.label}}
      </a>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>


